# Sentiment Analysis with Hotel Reviews

## Read and Explore data (EDA)

In [1]:
import parsivar
from parsivar import Normalizer, Tokenizer, FindStems, POSTagger, FindChunks, DependencyParser, SpellCheck

In [6]:
from pandas import read_excel
my_sheet = 'Sheet2' # change it to your sheet name, you can find your sheet name at the bottom left of your excel file
file_name = r'C:\Users\Zahra\Downloads\Labeled-Sentences.xlsx' 
df = read_excel(file_name, sheet_name = my_sheet)

In [7]:
df.head()

,Unnamed: 0,star,label,good=1,fair=0,excellent=2
0,واقعا هتل خوبی بود...از لحاظ نزدیکی به دریا وم...,5,2,NaN,NaN,NaN
1,از همه مهمتر پرسنل های خیلی خوبی داشت,5,2,NaN,NaN,NaN
2,من ب این هتل امتیاز کامل میدم,5,2,NaN,NaN,NaN
3,از نظر ترانسفر فرودگاهی بسیار عالی برخورد,4,2,NaN,NaN,NaN
4,پرسنل عالی برخورد رستوران حرف نداشت,4,2,NaN,NaN,NaN

Description of each columns:

Unnamed:0 : people's opinion about hotel

star : star of the hotel people say about

label : people sentiment about that hotel (1:good, 0:fair, excellent:2)

In [9]:
df['Unnamed: 0'][0]

'واقعا هتل خوبی بود...از لحاظ نزدیکی به دریا ومراکز خرید'

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 703 entries, 0 to 702
Data columns (total 6 columns):
Unnamed: 0     703 non-null object
star           703 non-null int64
label          703 non-null int64
good=1         0 non-null float64
fair=0         0 non-null float64
excellent=2    0 non-null float64
dtypes: float64(3), int64(2), object(1)
memory usage: 33.0+ KB

In [13]:
df.shape

(703, 6)

In [14]:
df.describe()

             star       label  good=1  fair=0  excellent=2
count  703.000000  703.000000     0.0     0.0          0.0
mean     4.278805    1.645804     NaN     NaN          NaN
std      0.783878    0.738449     NaN     NaN          NaN
min      1.000000    0.000000     NaN     NaN          NaN
25%      4.000000    2.000000     NaN     NaN          NaN
50%      4.000000    2.000000     NaN     NaN          NaN
75%      5.000000    2.000000     NaN     NaN          NaN
max      5.000000    2.000000     NaN     NaN          NaN

In [15]:
df.label.value_counts()

2    565
0    111
1     27
Name: label, dtype: int64